<!DOCTYPE html>
<html>
<head>
    <title>voice app helper</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/dashboard.css">

    <script src="/javascripts/jquery-3.1.1.js"></script>
    <script>
        $(document).ready(function(){

            // check for session
            // redirect user to login page if session does not exist
            $.get('/check-session', {}, function(sessionExists){
                if(sessionExists === false){
                    window.location.replace("http://localhost:3000");
                }
            });

            window.addEventListener("keydown", keyPressed, false);
            window.addEventListener("keyup", keyReleased, false);

            var ctrlPressed = false;
            var shiftPressed = false;
            var zPressed = false;

            // to prevent EventEmitter memory leak
            var zChecked = false;
            var releasedOnce = false;

            // when ctrl-shift-z is pressed, start recording
            // todo: may 6 - make it simple (say hold 'v' to record)
            function keyPressed(e){
                if(e.ctrlKey){
                    ctrlPressed = true;
                }
                if(e.shiftKey && ctrlPressed){
                    shiftPressed = true;
                }
                if(e.keyCode == 90 && shiftPressed && ctrlPressed){
                    zPressed = true;
                    if(zPressed && !zChecked){
                        zPressed = false;
                        zChecked = true;
                        releasedOnce = false;
                        startRecording();
                    }
                }
            }

            // upon key release, stop recording
            function keyReleased(e){
                ctrlPressed = false;
                shiftPressed = false;
                zPressed = false;
                zChecked = false;

                if (!releasedOnce) {
                    releasedOnce = true;
                    stopRecording();
                }

            }
        });
    </script>

    <script src="/javascripts/binary.js"></script>
    <script src="/javascripts/recorder.js"></script>

</head>

<body>
<div class="dashboard">
    <h1>Dashboard</h1>

    <button onclick="startRecording()" id="start_recording">
        Start Recording
    </button>

    <button onclick="stopRecording()" id="stop_recording">
        Stop Recording
    </button>

    <p>
        Or, hold down Ctrl-Shift-z to start recording
    </p>
</div>





</body>
</html>
