<!DOCTYPE html>
<html>
<head>
    <title>voice app helper</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/login.css'/>
    <link rel='stylesheet' href='/stylesheets/newUser.css'/>
</head>

<body>


<div id="page-container">
    <div id="square" class="center">

        <div id="form" class="middle-div text-center">
            <h1>voil</h1>

            <h3>enter your email:</h3>
            <p>this will be your user login for voil</p>

            <input type="text" id="email" placeholder="email...">
            <label for="email"></label>

            <br>
            <p>enter a password</p>
            <input type="text" id="password" placeholder="password...">
            <label for="password"></label>

            <input type="submit" id="validate-email" class="button">
        </div>

        <div class="middle-div text-center" id="error"></div>


    </div>
</div>





<script src="/javascripts/jquery-3.1.1.js"></script>
<script src="/javascripts/jquery.transform.js"></script>
<script>
	$(document).ready(function(){

		// upon document loaded
		// check for session, yes >> go to dashboard
		$.get("http://localhost:3000/check-session", {}, function(sessionExists){
			if(sessionExists === true){
				window.location.replace("http://localhost:3000/dashboard");
			}
		});

        // todo: animate html elements / css
        /**
         * init:
         *  set square to be small (~70 px)
         *  hide it
         *  place at bottom of screen
         *  opacity = 0 (do 50 for testing)
         *
         * animate:
         * 0 - 0.75s
         *  make square visible
         *  key opacity = 0 (still hidden, but now selectable)
         *  key rotation 180 degrees
         *  key position to center of screen
         *  opacity = 100 (completely visible)
         *
         *  try to smooth transition (slow down near finish)
         *
         * 0.75 - 1.5s
         *  make form visible (this will have its own animation)
         *  at same time, turn square to circle
         */

        var screenWidth = $(window).width();
        var screenHeight = $(window).height();

        var squareKeyframe0 = screenHeight * 0.7;
        var squareKeyframe1 = screenHeight * 0.42 - 50;
        var hovered = false;

        var finishedKeyframe = false;

        /** --- code for animations --- */

        $("#square").css({
            "opacity": "0.0",
            "margin-top": squareKeyframe0,
            "width": "90px",
            "height": "90px",
            "transform": "rotate(-50deg)"
        }).delay(500).animate({
            marginTop: squareKeyframe1,
            opacity: "1.0",
            transform: 'rotate(0deg)'
        }, 750, "swing", function(){
            finishedKeyframe = true;
        }).hover(function(){
            if(!hovered && finishedKeyframe == true){
                hovered = true;
                $(this).animate({
                    width: "400px",
                    height: "400px",
                    borderTopLeftRadius: 300,
                    borderTopRightRadius: 300,
                    borderBottomLeftRadius: 300,
                    borderBottomRightRadius: 300,
                    marginTop: squareKeyframe1 - 150
                }, 500, "swing");

                $("#form").delay(500).css({
                    "visibility": "visible",
                    "left": "-10px",
                    "opacity": "0.0"
                }).animate({
                    opacity: "1.0",
                    left: "0px"
                }, 500, "swing");
            }
        });

        var errorFlag = true;

		// when the submit button is clicked
		// validate the email on the server and go to the dashboard
		$("#validate-email").click(function(){
			var email = $("#email").val();
			$.get("http://localhost:3000/validate-email", {
				email: email
			}, function(data){
			    // email is valid
				if(data === true){
					// session will be setup for the user
					window.location.replace("http://localhost:3000/dashboard");
				}else{
					// error message if invalid email
					$("#error").html(data);
                    if(errorFlag == true){
                        $("#error").animate({
                            left: "+=10",
                            opacity: 1.0
                        }, 500, function(){});
                        errorFlag = false;
                    }
				}
			});
		});
	});

</script>

</body>
</html>
