/* using a custom font */
@font-face{
    font-family: CaviarDreams;
    src: url(/CaviarDreams.ttf);
}

body{
    font-family: CaviarDreams;
    font-size: 16px;
    font-weight: bold;
}

/*  most outer div
    this takes up the entire body  */
#page-container{
    position: relative;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

/* horizontal centering */
.center{
    margin: auto;
    width: 50%;
}

/*  inner div background
    to turn into circle   */
#square{
    opacity: 0;
    width: 500px;
    height: 500px;
    background: #7bc3ae;
}

/* text alignment for header */
h1, h3{
    text-align: center;
}

/* vertical centering */
.middle-div {
    position: relative;
    top: 48.5%;
    -webkit-transform: translateY(-55%);
    -ms-transform: translateY(-55%);
    transform: translateY(-55%);
}

/*
    -- visibility vs display --

    visibility: hidden
        takes up space

    display: none
        does not take up space

    opacity
        can "hide" but still select
                                     */
#form{
    visibility: hidden;
    opacity: 0;
}


input[type=text] {
    width: 200px;
    box-sizing: border-box;
    border-radius: 30px;
    font-size: 16px;
    border: none;
    background-color: #8fe1ca;

    background-position: 5px 7px;
    background-repeat: no-repeat;

    /* css shorthand: top, right, left, bottom */
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;

    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
input[type=text]:focus {
    width: 250px;
}

input:focus{
    outline: none;
}

.button{
    border-radius: 30px;
    border: none;
    background: #8fe1ca;
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
}

#error, #password-message, #email-message{
    position: relative;
    opacity: 0.0;
}

#error{
    left: -10px;
}


/* changing placeholder colour */
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #6a676b;
    letter-spacing: 1px;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #6a676b;
    opacity:  1;
    letter-spacing: 1px;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #6a676b;
    opacity:  1;
    letter-spacing: 1px;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #6a676b;
    letter-spacing: 1px;
}






