/*  inner div background
    to turn into circle   */
#square{
    background: #efa1e7;
}

input[type=text] {
    background-color: #f5c8ec;
}

#error, #password-message, #email-message{
    position: relative;
    left: -10px;
    opacity: 0.0;
}

.button{
    background: #f5c8ec;
}